body {
    /* background-color: #131313; */
    background-color: #FFFCF6;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 10px;
    color: #E86249;
}

h2 {
    margin-top: 15px;
    color: #F4B1A4;
}

/* HOW CAN I ADD A CLASS CALLED 'c' that centers 
   any text with that class name?*/

h3 {
    margin-top: 10px;
    color: #F4B1A4;
    font-style: italic;
    text-align: left;
}

h4 {
    color: #F4B1A4;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

h5 {
    color: #F4B1A4;
    font-weight: bolder;
    text-align: left;
}

h6 { /* TODO: change this */
    color: #F4B1A4;
    text-align: left;

}


p {
    color: #333333;
    /* color: white; */
    font-size: 24;
    text-align: left;
}


.img {
    display: flex;
    max-width: 80%;
    min-width: 80%;

}



/* Jeff's CSS Reset */

/* set border-box (so that css uses a
more reasonable box model, and so it’s
like every other platform) */
*, *::before, *::after {
    box-sizing: border-box;
}
/* media elements are replaced elements
which have a width based on the media,
so we prevent it from expanding beyond
its container, and take up a row */
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/* get rid of default margins which
vary depending on browser anyway, just
set it yourself later*/
* {
margin: 0;
}

/* make tables look like spreadsheets
and less like a spaced-out grid */
table {
border-collapse: collapse;
border-spacing: 0;
}


/* set border-box (so that css uses a
more reasonable box model, and so it’s
like every other platform) */
*, *::before, *::after {
    box-sizing: border-box;
}
/* media elements are replaced elements
which have a width based on the media,
so we prevent it from expanding beyond
its container, and take up a row */
picture, video, canvas, svg { /*TODO: this used to also have img as a tag here */
display: block;
max-width: 100%;
}

/* get rid of default margins which
vary depending on browser anyway, just
set it yourself later*/
* {
margin: 0;
}

/* make tables look like spreadsheets
and less like a spaced-out grid */
table {
border-collapse: collapse;
border-spacing: 0;
}


